footer{
    display: flex;
    flex-direction: row;
    background: #F2F2F2;
    width: Fill (1,340px)px;
    height: Hug (163px)px;
    gap: 290px;
}

.element-footer1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: Fill (446.67px)px;
}